<div class="card border-dark mt-5">
  <div class="card-header text-bg-dark">
    <div class="col">
      <div class="row">
        <h3 class="card-title">{{ compromisso.assunto }}</h3>
      </div>
      <div class="row">
        <span class="ms-auto fw-semibold">Data: {{ compromisso.data }}</span>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="d-flex">
      <div class="col-5">
        <span class="ms-auto fw-semibold text-muted">Inicio: {{ compromisso.horaInicio }}</span>
      </div>
      <div class="col-5">
        <span class="ms-auto fw-semibold text-muted">Termino: {{ compromisso.horaTermino }}</span>
      </div>
    </div>
    <!-- <p class="">Id: {{contato.id}}</p>  -->
  </div>
  <div class="d-flex gap-1 justify-content-end card-footer bg-transparent">
    <button
      class="btn btn-outline-info"
      routerLink="/compromissos/editar/{{compromisso.id}}"
      aria-label="Editar"
      ngbTooltip="Editar"
      placement="bottom">

      <i class="bi bi-pen"></i>
      
    </button>

    <button
      class="btn btn-outline-danger"
      routerLink="/compromissos/excluir/{{compromisso.id}}"
      aria-label="Excluir"
      ngbTooltip="Excluir"
      placement="bottom">

      <i class="bi bi-trash"></i>

    </button>
  </div>
</div>
