<section class="mt-2">
  <div class="container py-3 px-3 px-md-5">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img
          src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
          class="img-fluid"
          alt="Phone image"/>
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1 mt-5 mt-md-0">
        <form [formGroup]="form" (ngSubmit)="registrar()">
          <h1 class="fw-semibold">Registro de Usuário</h1>

          <div class="form-group my-3 position-relative">
            <label class="form-label" for="nome">Nome de Usuário</label>
            <input
              formControlName="nome"
              [ngClass]="campoEstaInvalido('nome') ? 'is-invalid' : ''"
              type="text"
              class="form-control form-control-lg"/>
          </div>

          <div class="form-group my-3 position-relative">
            <label class="form-label" for="email">Endereço de Email</label>
            <input
              formControlName="email"
              [ngClass]="campoEstaInvalido('email') ? 'is-invalid' : ''"
              type="email"
              class="form-control form-control-lg"/>
          </div>

          <!-- Password input -->
          <div class="form-group my-3 position-relative">
            <label class="form-label" for="senha">Senha</label>
            <input
            formControlName="senha"
              [ngClass]="campoEstaInvalido('senha') ? 'is-invalid' : ''"
              type="password"
              class="form-control form-control-lg"/>
          </div>

          <!-- Password input -->
          <div class="form-group my-3 position-relative">
            <label class="form-label" for="confirmarSenha">Confirmar Senha</label>
            <input
              formControlName="confirmarSenha"
              [ngClass]="campoEstaInvalido('confirmarSenha') ? 'is-invalid' : ''"
              type="password"
              class="form-control form-control-lg"/>
          </div>

          <!-- Submit button -->
          <div class="card-footer g-grid d-flex gap-2 mt-4">
            <button mat-raised-button color="primary" class="btn btn-sm px-3" type="submit" [disabled]="desabilitado">
              <span 
              *ngIf="(estaCarregando$ | async)" 
              class="spinner-border spinner-border-sm" 
              role="status" aria-hidden="true"></span>
              
              <mat-icon *ngIf="desabilitado == false" class="me-2">system_update_alt</mat-icon>
             
              Registrar
            </button>
            <button
              mat-stroked-button 
              color="primary"
              routerLink="/login"
              type="button"
              class="px-4">

              <mat-icon class="me-2">arrow_back</mat-icon>

              Voltar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

